<%= form_for @author do |f| %>
  <!-- Check for errors -->
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <!-- End -->
  <div class="form-group">
    <%= f.text_field :first_name, class:"form-control", placeholder: 'first name' %>
  </div>

  <div class="form-group">
    <%= f.text_field :last_name, class:"form-control", placeholder: 'last name' %>
  </div>
    <%= f.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', authors_path, class:'btn btn-default' %>
<% end %>
