<%= provide (:title), 'Detail Book' %>

<div id="books-show">
  <h2><%= @book.title %></h2>
  <div class="books-show-left">
    <%= image_tag(@book.image.url) %>
  </div>

  <div class="books-show-right">
    <h3>Book Info:</h3>
    <ul>
      <li><strong>Category: </strong><%= @book.category.name %></li>
      <li><strong>Author: </strong><%= @book.author.first_name + " " + @book.author.last_name %></li>
      <li><strong>Publisher: </strong><%= @book.publisher.name %></li>
      <li><strong>Year: </strong><%= @book.year %></li>
      <li><strong>ISBN: </strong><%= @book.isbn %></li>
      <li><strong>Format: </strong><%= @book.format %></li>
      <li><strong>Pages: </strong><%= @book.page %></li>
    </ul>

    <%= link_to "Link to Buy " + @book.price, @book.buy_link, class:"btn btn-success", target: "_blank" %>
  </div>

  <div class="clearfix"></div>

  <h4><strong>Excerpt</strong></h4>

  <p><%= @book.excerpt %></p>

  <h5><strong>Functions</strong></h5>

  <p><%= link_to 'Edit', edit_book_path(@book) %> | <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>
