<%= form_for @category do |f| %>
  <!-- Check for errors -->
  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>
  <!-- End -->
  <div class="form-group">
    <%= f.text_field :name, class:"form-control", placeholder: 'name' %>
  </div>
    <%= f.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', categories_path, class:'btn btn-default' %>
<% end %>
