<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Book Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <header>
      <div class="container">
        <h1>The Book Store <small><%= yield(:title) %></small></h1>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render 'shared/sidebar' %>
          </div>
        </div>
      </div>
    </section>

    <%= render 'shared/footer' %>
  </body>
</html>
